// Variables
@import "_variables";

// Vue-Modal
@import "_vueModal";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap";

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}